h1 {
  text-align: center;
  font-family: "Chewy", cursive;
}
h2 {
  text-align: center;
  font-family: "Chewy", cursive;
}
li {
  list-style: none;
}
.instruction-box {
  border: 1px solid;
  border-radius: 30px;
  max-width: 500px;
  margin: 0 auto;
}
.page-links {
  text-align: center;
}
.container {
  margin: 80px;
}
